{% extends 'base.html' %}

{% block content %}
<div class="post-entry">
  <h2>{{ item.item_name}}</h2>
  <p>{{ item.description }}</p>
  {{item.price}}
</div>
<a class="btn btn-primary " href="{% url 'cart_view'  %}" role="button">add to cart</a>
<a class="btn btn-primary " href="{% url 'review_view' %}" role="button">write a review</a>
<h2>Reviews</h2>
{% for i in item.reviews.all %}

  <div class="card">
    <div class="card-header">
      {{i.author}}
    </div>
    <div class="card-footer">
      {{i.body}}
    </div>
  </div>
  <br>
{% endfor %}
{% endblock content %}
